.banner {
  display: flex;
  display: none;
  background-color: green;
  @media (max-width: 768px) {
    display: flex;
    justify-content: flex-end;
    background-color: red;
    display: block;
  }
  .cta-links {
    display: flex;
    align-items: center;
    gap: 1rem;
    .cta-link {
      background-color: $black;
      color: white;
      display: inline-block;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 40px;
      font-size: 0.8rem;
      .icon {
        width: 25px;
        height: 25px;
      }
    }
    .call-link {
      background-color: $black;
      padding: 0.7rem 1.5rem;
      border-radius: 50px;
      color: $white;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
}
