.detailed-page-hero-section {
  background-color: #ffebfd;
  display: flex;
  padding: 1rem 3rem;
  width: 100vw;
  overflow: hidden;
  font-family: $default-font;
  height: 73vh;
  @media (max-width: 768px) {
    padding: 1rem;
    height: auto;
    flex-direction: column;
  }
  .left-detailed-hero {
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    //     background-color: teal;
    @media (max-width: 768px) {
      width: 100%;
    }
    img {
      // box-shadow: rgba(0, 0, 0, 0.25) 5px 25px 20px -20px;
    }
  }
  .mid-detailed-hero {
    padding: 0.6rem 2rem;
    width: 47%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    //     background-color: rebeccapurple;
    @media (max-width: 768px) {
      width: 100%;
    }
    .detailedPagePricing {
      display: flex;
      gap: 2rem;
      margin-top: 0.5rem;
      align-items: center;
      .price {
        font-size: 1.3rem;
      }
      .discount-Code {
        background-color: black;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        display: flex;
        gap: 0.3rem;
        .discountIcon {
          font-size: 1.2rem;
        }
      }
    }
    .selected-item-details {
      // background-color: red;

      .options {
        margin-top: rem;
        display: flex;
        padding: 0.3rem 0.7rem;
        width: 70%;
        border-radius: 3rem;
        justify-content: space-between;
        cursor: pointer;
        border: 1px solid rgb(103, 101, 101);
        gap: 2rem;
        align-items: center;
        @media (max-width: 768px) {
          width: 93%;
        }
        p {
          border-radius: 3rem;
          padding: 0.3rem;
        }
        .activeTab {
          background-color: blue;
          padding: 0.5rem 2rem;
          color: white;
        }
      }
      .details {
        padding: 1rem 0.2rem;
        .details-option {
          display: flex;
        }
      }
      .ingredients {
        display: none;
      }
      .directions {
        display: none;
      }
      .activeDetails {
        display: block;
        padding: 1rem 0;
      }
    }
  }
  .right-detailed-hero {
    width: 13%;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 2.5rem 2rem;
    gap: 1rem;
    @media (max-width: 768px) {
      width: 100%;
    }
    .cta {
      color: white;
      border: 1px solid white;
      display: flex;
      border-radius: 8px;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 1.2rem 1rem;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
      .ctaBtn {
        font-size: 2rem;
      }
    }
    .active-cta {
      color: white;
      background-color: rgb(54, 108, 234);
    }
  }
}
.similarProducts {
  // background-color: green;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  @media (max-width: 768) {
    padding: 1rem;
  }
  h1 {
    padding: 1rem 0;
  }
  @media (max-width: 768) {
    padding: 1rem 0.5rem;
    width: 100%;
  }
  .productsWrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    width: 100vw;
    overflow: hidden;
    @media (max-width: 768) {
      flex-direction: column;
      gap: 1rem;
      padding: 1rem 0.3rem;
    }
    .similar-prod {
      @media (max-width: 768) {
        width: 100%;
      }
      .prod-card {
        display: flex;
        border-radius: 7px;
        justify-content: center;
        padding: 1rem;
        align-items: center;
        border: 2px solid rgb(158, 130, 130);
        flex-direction: column;
        @media (max-width: 768) {
          // padding: 0.4rem 1rem;
        }
      }
    }
  }
}
