.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 5rem;
  height: 50vh;
  .middle {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("/products/yoghurt-cup.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      width: 400px;
      height: 400px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 100%;
      background-color: $glowColor;
      opacity: 0;
      animation: pulseGlow 2s infinite;
    }
    // .hero-image {
    //   position: relative;
    //   height: 400px;
    //   width: 400px;
    //   border-radius: 50%;
    //   img {
    //     width: 100%;
    //     height: 100%;
    //     object-fit: contain;
    //   }
    // }
  }
  .left,
  .right {
    width: 25%;
  }
  .left {
    .hero-title {
      font-size: 4rem;
      font-weight: 500;
      line-height: 1;
    }
    p {
      padding: 1rem 0;
      margin-bottom: 2rem;
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    .hero-card {
      display: flex;
      align-items: center;
      gap: 1rem;
      .hero-icon {
        position: relative;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        background-color: orange;
        display: flex;
        flex-shrink: 0;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .card-text {
        .title {
          font-size: 1.2rem;
        }
      }
    }
  }
}
.theme-btn {
  padding: 0.7rem 2rem;
  background-color: $themeColor;
  color: $white;
  border-radius: 60px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@keyframes pulseGlow {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    opacity: 0.4;
    transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }
}
.hero-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  .hero-icon {
    position: relative;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: orange;
    display: flex;
    flex-shrink: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .card-text {
    .title {
      font-size: 1.2rem;
    }
  }
}
.support-section {
  padding: 2rem 5rem;
}
