header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5rem;
  @media (max-width: 768px) {
    padding: 0.4rem 1rem;
  }
  nav {
    display: flex;
    gap: 2rem;
    display: none;
    @media (max-width: 768px) {
      flex-direction: column;
      background-color: red;
      width: 100%;
      position: absolute;
      left: 0;
      top: 7.7rem;
      z-index: 300;
      // display: block;
      text-align: center;
      padding: 2rem 1rem;
      gap: 2rem;
      flex-wrap: wrap;
    }
    a {
      font-size: 1.3rem;
      color: $black;
    }
  }
  .showNav {
    display: block;
  }
  .cta-links {
    display: flex;
    align-items: center;
    gap: 1rem;
    @media (max-width: 768px) {
      display: none;
    }
    .cta-link {
      background-color: $black;
      color: white;
      display: inline-block;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 40px;
      font-size: 0.8rem;
      .icon {
        width: 25px;
        height: 25px;
      }
    }
    .call-link {
      background-color: $black;
      padding: 0.7rem 1.5rem;
      border-radius: 50px;
      color: $white;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
  .hamMenu {
    display: none;
    @media (max-width: 768px) {
      font-size: 3rem;
      display: block;
    }
  }
}
